@import "../../../sass/variables.scss";

.product-details-column{
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 83%;
    margin-left: 20px;
    @media (max-width: 991px) {
        width: 100%;
    }
}

.product-details {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    .sponsored-label {
        display: flex;
        padding-right: 80px;
        gap: 8px;
        font-size: 11px;
        color: #565959;
        font-weight: 400;
        white-space: nowrap;

        span {
            font-family: Amazon Ember, -apple-system, Roboto, Helvetica, sans-serif;
        }
        img {
            aspect-ratio: 1;
            object-fit: contain;
            width: 11px;
        }
    }
    .product-title {
        color: $primaryBlack;
        margin-top: 8px;
        font: 400 18px Amazon Ember, -apple-system, Roboto, Helvetica, sans-serif;
    }
    .limited-time-deal {
        justify-content: center;
        background-color: $secondaryRed;
        align-self: start;
        margin-top: 8px;
        color: #fff;
        text-align: center;
        padding: 9px 11px;
        font: 400 12px Amazon Ember, -apple-system, Roboto, Helvetica, sans-serif;
    }
    .product-price {
        color: $primaryBlack;
        margin-top: 8px;
        font: 400 21px Amazon Ember, -apple-system, Roboto, Helvetica, sans-serif;
        .original-price {
            text-decoration: line-through;
            font-size: 13px;
            color: $originalPriceColor;
        }
        .save-text,
        .save-amount {
            font-size: 14px;
            color: $saveAmountColor;
        }
    }
    .delivery-info {
        color: $deliveryInfoColor;
        margin-top: 8px;
        font: 400 14px Amazon Ember, -apple-system, Roboto, Helvetica, sans-serif;
    }
    .free-delivery {
        color: $deliveryInfoColor;
        margin-top: 8px;
        font: 400 14px Amazon Ember, -apple-system, Roboto, Helvetica, sans-serif;
    }
    .stock-info {
        color: $secondaryRed;
        margin-top: 8px;
        font: 400 14px Amazon Ember, -apple-system, Roboto, Helvetica, sans-serif;
    }

    @media (max-width: 991px) {
        width: 100%;
        margin-top: 40px;
        .sponsored-label {
            flex-wrap: wrap;
            padding-right: 20px;
            white-space: initial;
        }
        .product-title {
            max-width: 100%;
        }
        .product-price {
            max-width: 100%;
        }
        .delivery-info {
            max-width: 100%;
        }
        .free-delivery {
            max-width: 100%;
        }
        .stock-info {
            max-width: 100%;
        }
    }
}